doctype
html
    head
        title="this is a redux app"
        link(href="/static/css/main.css", rel="stylesheet")
        
    body
        h1=" welcome to react redux"
        div(id="app")
        
        script(src="/static/bundle.js")
        